COMPOSE_PROJECT_NAME=api-sos-mulher

# App
NODE_ENV=development
PORT=4000

# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# Redis
REDIS_PORT=6379

# Derived URLs
DATABASE_URL=postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@db:$POSTGRES_PORT/$POSTGRES_DB?schema=public
REDIS_URL=redis://redis:$REDIS_PORT
